body{
    font-size: 20px;
    font-family: sans-serif;
    color: #000;
    padding: 60px;
    margin: auto;
}

h1{
    font-size: 72px;
    padding-bottom:;
}

h2{
    font-size: 36px
}

p{
    font-size: 18px;
}

#question{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
}
.answers {
    font-size: 16px;
    margin-bottom: 32px;
}
.button, .start-game{
    font-family: sans-serif;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    border: 0px;
    padding: 12px 24px;
    margin-bottom: 20px;
}
.button:hover, .start-game:hover{
    background-color: #636363;
}

.hide{
    display:none;
}